/* Estilos generales para el header */
body.menu-open {
    overflow: hidden; /* Desactiva el scroll del body cuando el menú está abierto */
}

header {
    font-family: 'Montserrat', sans-serif;
    height: 150px; /* Aseguramos que el header tenga el mismo alto que el navbar */
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    overflow: hidden;
    z-index: 10000;
}

/* Barra de navegación */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%; /* Aseguramos que el navbar ocupe todo el alto del header */
    z-index: 10000;
}

/* Estilo base para el icono del menú */
.nav .menu-icon {
    flex: 0.3;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

/* Icono de cerrar menú */
.nav .close-menu {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none; /* Ocultamos el icono de cerrar inicialmente */
}

/* Ocultar el icono del menú en pantallas grandes */
@media (min-width: 769px) {
    .menu-icon {
        display: none !important; /* Asegura que se oculte en computadoras */
    }
}

/* Contenedor de enlaces del menú */
.nav .menu-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav .menu-links a {
    margin: 0px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

/* Logo */
.nav .logo {
    flex: 0.2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Logo del sitio */
.nav a .logo-img {
    width: 12vw;
    height: auto;
}

.nav .boton-container {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .boton-container .booking {
    background-color: white;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Navbar debajo del header en móvil */
.navbar-mobile {
    display: none;
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%; /* Asegura que el navbar ocupe todo el alto del header */
    }

    .nav a .logo-img {
        width: 70px;
    }

    .nav .menu-icon {
        display: block;
        flex: 0;
    }

    /* Menu Links oculto por defecto */
    .nav .menu-links {
        display: none;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #000;
        z-index: 999;
        padding: 15px 0;
        box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
    }

    /* Mostrar menú al activarlo */
    .menu-links.show {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        background-color: #000;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        overflow-y: auto;
    }

    /* Icono de cerrar el menú */
    .menu-links .close-menu {
        display: block; /* Mostrar el icono de cerrar en el móvil */
        margin-left: auto;
        padding: 10px;
    }

    body.menu-open {
        overflow: hidden;
    }

    /* Navbar debajo del header en móvil */
    .navbar-mobile {
        display: none;
    }

    .menu-links.show + .navbar-mobile {
        display: block;
    }

    .nav .boton-container {
        flex: none;
    }

    .nav .boton-container .booking {
        font-size: 12px;
        width: 35vw;
        padding: 5px 20px;
    }

    .nav .options-navbar {
        font-size: 3.5vw;
    }
}
